<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to job portal</title>
    <link rel="stylesheet" href="{%static "css/index.css"%}">
</head>
<body>
<h1>welcome to job portal</h1>
<a href="/PuneJobPortal">click here for Pune Job Portal</a><br>
<a href="/BangaloreJobPortal">click here for bangalore Job Portal</a><br>
<a href="/HydJobPortal">click here for hyderabad Job Portal</a><br>
<a href="/ChennaiJobPortal">click here for chennai Job Portal</a><br>
</body>
</html>